package ${package}.domain;

import com.example.utils.CommonUtils;
import lombok.Data;
import lombok.NoArgsConstructor;

import javax.persistence.Entity;
import javax.persistence.Id;

@Data
@NoArgsConstructor
@Entity
public class ${entityName} {
    @Id
    private String id;
}