package ${package}.repository;

import com.example.domain.${entityName};

import java.util.List;

public interface ${entityName}Repository {

    ${entityName} create${entityName}(${entityName} ${name});
    ${entityName} update${entityName}(${entityName} ${name});
    ${entityName} delete${entityName}(String ${name}Id);
    ${entityName} get${entityName}(String ${name}Id);
    List<${entityName}> getListBook();
}