package ${package}.repository.impl;

import com.example.domain.${entityName};
import org.springframework.stereotype.Repository;

@Repository
public class ${entityName}RepositoryImpl implements ${entityName}Repository {

    @Override
    public ${entityName} create${entityName}(${entityName} ${name}) {
        String ${name}Id = CommonUtils.randomString();
        ${name}.setId(${name}Id);
        return book;
    }

    @Override
    public ${entityName} update${name}(${entityName} book) {
        return book;
    }

}